*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
	background: #ecf1f4;
}

.navbar{
	height: 70px;
	border-bottom: 1px solid rgba(0,0,0,0.09);
	padding: 0;
}

.navbar-brand img{
	width: 180px;
	height: 45px;
	margin-right: 20px;
}

.navbar .container{
	max-width: 1100px;
	position: relative;
	height: inherit;
	margin-top: -8px;
}

.navbar .container .right-column span.fa-bars{
	font-size: 20px;
	padding: 5px 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #ddd;
	color: #888;
	display: none;
	cursor: pointer;
}

.navbar-light .navbar-nav .nav-link{
	color: #777 !important;
	font-weight: bold;
	font-size: 14px;
}

.navbar-light  .navbar-nav  .nav-item.active  .nav-link{
	color: #6EC139;
}

.nav-link{
	text-transform: uppercase;
}

.navbar .btnLanguage{
	position: absolute;
    width: 40px;
    height: auto;
    background-color: #fff;
    right: 0px;
    top: 0px;
    border-radius: 0px 0px 50% 50%;
    padding: 15px 7px 7px 7px;
    box-shadow: 0px 2px 5px #ddd;
}

.navbar .btnLanguage a{
	text-decoration: none;
}

.navbar .btnLanguage a img{
	width: 100%;
	border-radius: 50%;
	height: 25px;
}


.wrapper-carousel{
	width: 100%;
	position: relative;
	background: #fff;
	padding: 0 50px;
	margin-top: 70px;
}

.wrapper-carousel .bar-saham{
	position: absolute;
	bottom: 10px;
	right: 80px;
	z-index: 3;
	border-radius: 5px;
}

.wrapper-carousel .bar-saham span{
	margin-left: 2px;
}

.wrapper-carousel .bar-saham span.text-delay{
	color: #c4c5c6;
    font-size: 13px;
    display: inline-block;
    margin-left: 5px
}

.wrapper-carousel .bar-saham label{
	background: #054337;
	color: #f0f643;
	margin-bottom: 0;
	border-radius: 5px;
}

.wrapper-carousel .carousel-item{
	height: 100%;
}

.wrapper-fitur{
	width: 100%;
	padding: 20px;
	background: rgba(35,37,45,0.1); 
}

.wrapper-fitur .container{
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper-fitur .container a{
	display: flex;
	align-items: center;
	color: #000;
	text-decoration: none;
}

.wrapper-fitur .container a i{
	font-size: 45px;
}

.wrapper-fitur .container a div{
	margin-left: 15px;
}

.wrapper-fitur .container a div p{
	line-height: 0;
	margin-bottom: 0;
}

.wrapper-fitur .container a span{
	font-size: 14px;
}

.wrapper-fitur .container a:hover{
	color: #be9d78;
}

.wrapper-content{
	width: 100%;
	padding: 50px 0;
}

.wrapper-content .container{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.wrapper-content .container .content-left-column{
	max-width: 900px;
}

.wrapper-content .container .content-left-column h2{
	margin-bottom: 15px;
	padding: 15px 0;
}

.wrapper-content .container .content-left-column .link-img{
	margin: 50px 0;
	text-align: center;
}

.wrapper-content .container .content-left-column .link-img a{
	text-decoration: none;
	color: #000;
}

.wrapper-content .container .content-left-column .link-img a img{
	width: 55%;
	margin-bottom: 15px;
}

.wrapper-content .container .content-right-column .pres-release{
	background: #fff;
	padding: 20px;
	width: 400px;
}

.wrapper-content .container .content-right-column .pres-release h2{
	font-size: 24px;
}

.wrapper-content .container .content-right-column .pres-release li{
	padding:  0 10px;
}

.wrapper-content .container .content-right-column .pres-release li a{
	color: #000;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}

.wrapper-content .container .content-right-column .pres-release li a:hover{
	color: #be9d78;
}

.wrapper-content .container .content-right-column .pres-release li p{
	font-size: 10px;
	line-height: 0;
}

.wrapper-content .container .content-right-column .pres-release .btn{
	padding: 10px 20px;
	background: #000;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin: 20px 0;
	margin-left: 20px;
}

.wrapper-content .container .content-right-column .blog{
	background: #fff;
	padding: 20px;
	width: 400px;
	margin: 20px 0;
}

.wrapper-content .container .content-right-column .blog h2{
	font-size: 24px;
}

.wrapper-content .container .content-right-column .blog li{
	padding: 0 10px;
}

.wrapper-content .container .content-right-column .blog li a{
	color: #000;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}

.wrapper-content .container .content-right-column .blog li a:hover{
	color: #be9d78;
}

.wrapper-content .container .content-right-column .blog li p{
	font-size: 10px;
}

.wrapper-content .container .content-right-column .blog .btn{
	padding: 10px 20px;
	background: #000;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin: 20px 0;
	margin-left: 20px;
}

/*Footer*/
footer{
	width: 100%;
	background: #000;
	padding: 20px;
	margin-top: 100px;
}

footer .container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

footer .container p{
	letter-spacing: 1px;
}


footer .container ul{
	display: flex;
}

footer .container ul li{
	margin: 0 5px;
}

footer .container ul li a{
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	align-items: center;
}

footer .container ul li a:hover{
	color: #be9d78;
}

/*RESPONSIVE*/

@media screen and (max-width: 1050px){
	/*.wrapper-fitur .container{
		flex-wrap: wrap;
	}*/

	.wrapper-fitur .container a{
		margin: 20px;
	}

	.wrapper-content .container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.wrapper-content .container .content-right-column .pres-release{
		width: 100%;
		margin: auto;
		margin-bottom: 20px;
	}

	.wrapper-content .container .content-right-column .blog{
		width: 100%;
		margin: auto;
	}
}

@media screen and (max-width: 880px){
	.wrapper-fitur .container a{
		width: 100%;
		margin: 20px auto;
	}

	.wrapper-fitur .container a + a{
		margin-left: 0;
	}
}

@media screen and (max-width: 585px){
	.content-left-column .video-introducing iframe{
		width: 100%;
	}

	.row .right-column .img-bg-color .img-text{
		max-width: 350px;
	}

	footer .container{
		flex-direction: column;
	}

	footer .container p{
		margin-bottom: 15px;
	}
}


@media screen and (max-width: 992px) { 
	.navbar .container{
		max-width: 1200px;
	}

	.navbar-brand {
		margin-right: 0
	}

	.navbar-brand img{
		width: 150px;
		height: 35px;
		margin-right: 0;
	}

	.wrapper-fitur{
		margin-top: 60px;
	}

	.wrapper-carousel .bar-saham{
		width: 100%;
		left: 0;
		right: 0;
		bottom: -60px;
		border-radius: 0;
		padding: 10px;
		margin-top: 30px;
		background: #ccc;
	}

	.navbar .btnLanguage{
		top: 0;
		left: 80px;
	}

	.wrapper-carousel{
		padding: 0;
		background: #ccc;
	}

	.right-column{
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
		padding-left: 20px;
		border-bottom: 1px solid rgba(0,0,0,0.09);
	}

	.navbar .container .right-column span.fa-bars{
		display: block;
	}

	.left-column{
		position: fixed;
		top: 70px;
		left: 0;
		width: 100%;
		max-height: 0;
		background: #fff;
		z-index: 99;
		text-align: center;
		transition: max-height 0.3s ease-in-out;
		overflow: hidden;
	}

	.left-column .navbar-nav li a{
		padding: 15px;
		border-bottom: 1px solid rgba(0,0,0,0.09);
	}

}